body {
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #022F40;
    font-family: 'Playfair Display', serif;
  }
  
 main {
    flex: 1 0 auto;
    
  }

  label{ 
    color: black !important;
    margin-left: 5px;
    font-size: 24px !important;
  }
  
form {
  max-width: 60%;
  margin: 0 auto;
  border-radius: 5px;
}

.parentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  border-radius: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* .album-cards {
  width: 400px !important;
} */

  /* footer.page-footer {
    padding-top: 0;
    text-align: right;
  } */

  /* .center {
      text-align: center;
  } */

/* .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    justify-content: center;
    word-wrap: break-word;
        
} */
/* .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    background-color: #ABABAB;
    justify-content: center;
      } */

 /* .card {
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 3;
    border: 2px solid #e7e7e7;
    background-color:#ABABAB;
    border-radius: 4px;
    padding: .5rem;
    justify-content: center;
    } */

/* #detail {
    height: 300px;
    width:300px;
    justify-content: center;
    }

    .card-content{ 
      word-wrap: break-word;
    } */

